section.campaign .boxed-width{
    justify-content: center;
    margin-bottom: 103px;
}
section.campaign .campaign-vertical-card{
    width: 100%;
    height: fit-content;
    max-width: 771px;
    background-color: var(--white);
    padding: 17px 18px 25px 21px;
}
section.campaign .campaign-vertical-card .date{
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}
section.campaign .campaign-vertical-card .date h3{
    margin: 26px auto 11px auto;
    line-height: 33px;
    text-align: center;
    width: 100%;
    max-width: 611px;
    line-height: 33px;
}
section.campaign .campaign-vertical-card  .campaign-content{
    width: 100%;
    height: fit-content;
    margin: 26px auto 60px auto;
}
section.campaign .campaign-vertical-card  .campaign-content p{
    line-height: 30px;
}
section.campaign .campaign-vertical-card figure{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
section.campaign .campaign-vertical-card figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section.campaign .campaign-vertical-card .overview{
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}
section.campaign .campaign-vertical-card .overview h3{
    margin: 26px auto 15px auto;
    line-height: 33px;
    text-align: center;
    width: 100%;
    max-width: 611px;
    height: 34px;
}
section.campaign .campaign-vertical-card .campaign-content{
    margin: 25px auto 60px auto;
}
section.campaign .campaign-vertical-card .campaign-content p{
    margin: 0px;
    line-height: 30px;
}
section.campaign .campaign-vertical-card .menu-items{
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}
section.campaign .campaign-vertical-card .menu-items h3{
    margin: 26px auto 15px auto;
    line-height: 33px;
    text-align: center;
    width: 100%;
    max-width: 611px;
    height: 34px;
}
section.campaign .campaign-vertical-card .menu-items-content{
    margin: 25px auto 25px auto;
}
section.campaign .campaign-vertical-card .menu-items-content p{
    margin: 0px;
    line-height: 30px;
}
section.posts-navigation .boxed-width{
    justify-content: center;
    gap: 20px;
    margin-bottom: 90px;
}
section.posts-navigation .boxed-width span{
    max-width: 150px;
    width: 100%;
    height: auto;
    padding: 6px 24px;
    border: 1px solid rgba(0, 0, 0, 0.349);
    cursor: pointer;
}
section.posts-navigation .boxed-width span a{
    font-size: 14px;
    transition: all .2s ease-in-out 0s;
}
section.posts-navigation .boxed-width span a:hover{
    background-color: rgba(0, 0, 0, 0.048);
}
/* Campaign cards responsiveness styles */
@media (max-width: 1100px){
    section.campaign .campaign-vertical-card {
        padding: 11px 11px 10px 10px;
    }
    section.campaign .campaign-vertical-card .date h3 {
        margin: 13px auto 12px auto;
        line-height: 29px;
    }
    section.campaign .campaign-vertical-card .campaign-content p,section.campaign .campaign-vertical-card .menu-items-content p {
        margin: 0px;
        font-size: 16px;
        line-height: 30px;
    }
    section.campaign .campaign-vertical-card .campaign-content {
        margin: 12px auto 17px auto;
    }
    section.campaign .campaign-vertical-card .overview h3{
        margin: 17px auto 7px auto;
        line-height: 33px;
    }
    section.campaign .campaign-vertical-card .menu-items h3 {
        margin: 20px auto 10px auto;
        line-height: 33px;
    }
    section.campaign .campaign-vertical-card .menu-items-content {
        margin: 15px auto 25px auto;    
    }
    section.campaign .campaign-vertical-card .campaign-content p{
        line-break: anywhere;
    }
}

@media (max-width: 800px){
    section.posts-navigation .boxed-width{
        justify-content: center;
        gap: 20px;
        margin-bottom: 90px;
        flex-direction: column;
    }
    section.posts-navigation .boxed-width span{
        padding: 10px 28px;
    }
}